@inject IJSRuntime JSRuntime

<div style="max-width: 98vw;" class="interested-section">
    <div class="interested-alert-title">
        <h3 class="main-title">You might also be interested</h3>
        <p>View all</p>
    </div>

    <div class="carousel-container-interested">
        <div style="position: relative;">
            <div class="slider-display" id="slider-display">
                @foreach (var item in CarouselItems)
                {
                    <div class="items-details" id="interested">
                        @* <img src="@item.Image" style="width: 170px; border-radius: 10px;" /> *@
                        <div class="interest-book-cover">
                            <img src="@item.Image" al="Book cover" />
                        </div>
                        <div style="margin-right: 20px;" class="book-info-container">
                            <div>
                                <h5 class="book-title">@item.Caption </h5>
                                <p>@item.AltText</p>
                                <p class="details-title">Summery</p>
                                <p class="summery-text" style="font-size: 12px; padding-bottom: 10px;">Harry Potter is a series of novels by British author J. K. Rowling. The novels follow Harry Potter, an 11-year-old boy who discovers</p>
                            </div>

                            <div>
                                <div>
                                    <p class="rating-title">Ratings</p>
                                    <SfRating></SfRating>
                                </div>
                                <div style="display: flex; font-size: 12px; padding: 10px 0px;">
                                    <div>
                                        <img src=".././icons/share.png" class="icon" />
                                        <span>&nbsp; Share &nbsp;</span>
                                    </div>
                                    <div>
                                        <img src=".././icons/heart.png" class="icon" />
                                        <span>&nbsp; Interested</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <button class="prev2" @onclick="MovePrev">
                <img src="/icons/left-chevron.png" alt="left icon" />
            </button>
            <button class="next2" @onclick="MoveNext">
                <img src="/icons/right-chevron.png" alt="right icon" />
            </button>
            @* <button class="prev2" @onclick="MovePrev">❮</button>
            <button class="next2" @onclick="MoveNext">❯</button> *@
        </div>

        <div class="carousel-items-interested" id="carousel-items-interested">
            @foreach (var item in CarouselItems.Skip(1))
            {
                <BookCard BookName="@item.Caption" ImageUrl="@item.Image" AlternativeText="@item.AltText" />
            }
        </div>
    </div>
</div>

<style>
    a{
        outline: 1px solid red;
    }

    .interested-section{
        background-color: #ebf3f5;
        padding: 4rem 0;
    }

    .interested-alert-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: roboto;
        padding: 0px 100px 30px 100px;
    }

        .interested-alert-title p, h3 {
            margin: 0px;
            padding: 0px;
        }

    .carousel-container-interested {
        display: flex;
        width: 100%;
        padding: 0px 100px;
        gap: 25px;
        align-items: flex-end;
        /* background-color: red; */
    }

    .slider-display {
        /* max-width: 435px; */
        max-width: 600px;
        height: 27em;
        display: flex;
        gap: 20px;
        overflow: hidden;
        background: white;
        border-radius: 10px;
        padding: 30px 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }

    .items-details {
        display: flex;
        gap: 16px;
        /* min-width: 380px; */
        min-width: 546px;
        padding-left: 1em;
    }

    .interest-book-cover{
        width: 42rem;
        height: 23rem;
        overflow: hidden;
        border-radius: 0.5em;
    }

    .interest-book-cover >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .book-title{
        font-weight: 600;
    }

    .book-info-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* .book-info-container > div:first-child{
        background-color: green;
    }

    .book-info-container > div:last-child{
        backgorund-color: blue;
    } */

    .details-title{
        margin-bottom: 0;
    }

    .rating-title{
        margin-bottom: 0;
        font-weight: 500;
    }

    .prev2, .next2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        margin: 5px;
        color: black;
        font-weight: bold;
        font-size: 2em;
    }

    .prev2 {
        left: 0px;
    }

    .next2 {
        right: 0px;
    }

    .carousel-items-interested {
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: hidden;
        /* min-height: 350px; */
        min-height: 404px;
        padding-top: 50px;
        /* background-color: green; */
    }

    @@media only screen and (max-width: 1070px){
        .carousel-container-interested{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* outline: 1px solid red; */
            padding: 0;
        }

        .carousel-items-interested{
            width: min(580px, 100%);
        }
    }

    @@media only screen and (max-width: 553px) {
        .interested-alert-title{
            padding: 0px 11px 30px 11px;
        }

        .slider-display {
            max-width: 375px;
        }

        .items-details {
            padding-left: 0;
            align-items: center;
        }

        .interest-book-cover {
            width: 14rem;
            height: 12em;
            overflow: hidden;
            border-radius: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .summery-text{
            max-width: 42%;
        }
    }

    @@media only screen and (max-width: 553px) {
        .main-title{
            font-size: 20px;
        }
    }

    @@media only screen and (max-width: 360px) {
        .slider-display{
             max-width: 348px;
        }
    }

</style>

@code {
    private async Task MoveNext()
    {
        await InvokeAsync(() => JSRuntime.InvokeVoidAsync("moveSlide2", 1));
    }

    private async Task MovePrev()
    {
        await InvokeAsync(() => JSRuntime.InvokeVoidAsync("moveSlide2", -1));
    }

    public List<CarouselItemModel> CarouselItems = new List<CarouselItemModel>
    {
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
    };

    public class CarouselItemModel
    {
        public string Image { get; set; }
        public string Caption { get; set; }
        public string AltText { get; set; }
    }
}

<script>
    window.moveSlide2 = function (direction) {
        setTimeout(function () {
            var carousel = document.getElementById("slider-display");

            if (carousel) {
                // carousel.scrollLeft += direction * 400;
                carousel.scrollLeft += direction * 566;
                scrollAnother(direction);
            }
        }, 100);
    }

    window.scrollAnother = function (direction) {
        var items = document.getElementById("carousel-items-interested");
        if (items) {
            // items.scrollLeft += direction * 140;
            items.scrollLeft += direction * 194;
        }
    }

</script>
